// Variable overrides
$cr_region_black: #181818;
$cr_region_dark: #080c0e;
$cr_region_dark_faint: #162226;
$cr_region_primary: #f33f00;
$cr_region_primary_off: #f3541c;
$cr_region_primary_light: #f36f41;

$text_default_color: #eee;
$text_light_gray: #999;
$text_lighter_gray: rgba(3, 30, 40, 0.3);
$text_dark_gray: #545454;
$text_new_gray: #434d72;

$primary_color: #51bfa2;
$primary_color_light: #318197;
$primary_color_dark: #0a4754;
$secondary_color: #1c2f4a;
$tertiary_color: #4f789c;

$primary_light_color: #92b6cc;

$background_white: #ffffff;
$background_light: #c1d3de;

$ela_red: #9b5f52;
$ela_green: #5e8787;

$bootstrap_primary: #007bff;
$bootstrap_success: #28a745;
$bootstrap_danger: #dc3545;
$bootstrap_warning: #ffc107;

$core_primary: #20a8d8;
$core_primary_border: #187da0;
$core_info: #63c2de;
$core_info_border: #2eadd3;
